<!DOCTYPE html>
<html>
<head>
  <title>アカウントを作成</title>
  <style>
    .title-with-outline {
      text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white; /* テキスト縁取り */
    }

    form {
      text-align: center;
    }
li {
  list-style-type: circle;
}

li li {
  list-style-type: square;
}

    input[type="text"] {
      width: 100%; /* 幅を100%に設定してコンテナの幅いっぱいに広げる */
      padding: 10px; /* パディングを追加して内部の余白を調整 */
      margin: 10px 0; /* 上下のマージンを追加して要素間の間隔を調整 */
      font-size: 16px; /* フォントサイズを調整 */
      background-color: #d3d3d3;
    }
    input[type="text"], input[type="password"], input[type="submit"], a {
        color: black;
    }
    input[type="submit"] {
      width: auto; /* 幅を自動調整に戻す */
      padding: 15px 40px; /* パディングを調整してボタンのサイズを変更 */
      margin: 10px 0; /* 上下のマージンを追加して要素間の間隔を調整 */
      font-size: 20px; /* フォントサイズを調整 */
      background-color: black;
      color: #fffacd; /* テキストの色を白に設定 */
      border: none;
      cursor: pointer;
    }
  </style>
</head>
<body>
    <h1 class="display-4 title-with-outline">使用した素材元様</h1>
    <ul>
    <li><a class="display-4 title-with-outline" href='https://fonts.adobe.com/fonts/elegant'>えれがんと(フォント)</a></li>
    <li><a class="display-4 title-with-outline" href='https://www.pixiv.net/artworks/92641351'>ずんだもん立ち絵</a></li>
    <li><a class="display-4 title-with-outline" href='https://voicevox.hiroshiba.jp/product/zundamon/'>VOICEVOX ずんだもん</a></li>
    <li><a class="display-4 title-with-outline" href='https://min-chi.material.jp/fm/bg_c/pc_room2/'>背景</a></li>
    <li><a class="display-4 title-with-outline"  href='https://maou.audio/bgm_healing15/'>BGM</a></li>
    <li><a  class="display-4 title-with-outline" href='https://drive.google.com/drive/folders/12KvyFs3sD2-T8BAKdVT2qPnu5HoW8uXX'>確定演出（大橋）</a></li>
    </ul>
</body>
</html>